*.log*
*.sqlite
*.pyc
*.project
*.pydevproject
*.settings
.idea/
.vscode/
*.cnf
node_modules/
dist/
.tmp/
.sass-cache/
/db.sqlite3
mis_template/static/node/
/static
__pycache__
/npm-debug.log
package-lock.json
reports/
env
img.pdf
temp.pdf
/config/

