:root {
    --color-alba-classic-blue: #162F4E;
    --color-alba-new-blue: #009E97;
}

payload-pre {
    width: 100%;
    text-align: left;
    background: transparent;
}

.payload-pre code.hljs {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 0.5em;
    font-size: 0.85rem;
    line-height: 1.4;
    border-radius: 0.5rem;
    background: #1d1f21 !important;
}

.payload-container {
    max-width: 60%;
    overflow: auto;
    resize: vertical;
    min-height: 10em;
    max-height: 50em;
    background: transparent;
}

.skeleton-anonymous {
    animation: none;
}

.badge-card {
    margin-top: 0.25em;
}

.copy-icon:hover {
    color: var(--color-alba-new-blue);
}

.logo-icon {
    color: var(--color-alba-new-blue);
    font-size: 1.2em;
}

.card-divider {
    --divider-color: color-mix(in oklab, var(--color-base-content) 5%, transparent);
}

.card-divider-horizontal {
    margin-top: -0.25em;
    margin-bottom: -0.25em;
}

.msg-property-value {
    margin-top: 0.25em;
}

.navbar {
    border-left: 4px solid var(--color-alba-new-blue);
}

.general-text-search {
    width: clamp(100%, 20rem, 100%);
}

.input:focus,
.input:focus-within {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

.input input:focus {
    outline: none;
    box-shadow: none;
}

.msg-card-animate {
    transition: all 0.6s ease-in-out;
    display: grid;
    grid-template-rows: 1fr;
    opacity: 1;
    margin-bottom: 1em;

    @starting-style {
        grid-template-rows: 0fr;
        opacity: 0;
        margin-bottom: 0;
    }
}

.msg-card-animate > .card-body {
    overflow: hidden;
}

