{% load tags %}
<div class="card bg-base-100 shadow-sm msg-card rounded-xl {% if is_new %}msg-card-animate{% endif %}"
     style="margin-bottom: 1em;">
    {% if msg.errored %}
        <div class="indicator">
            <span class="indicator-item indicator-middle indicator-start badge badge-error"></span>
        </div>
    {% endif %}

    <div tabindex="0" class="card-body border-base-300 border rounded-xl">
        <h3 class="card-title" style="padding: 0">
            {% include 'msg_card/msg_action.html' %}
            {% if user.is_authenticated and user.groups.count != 0  or DISABLED_AUTH %}
                <span class="font-mono">{{ msg.object_identifiers }}</span>
            {% else %}
                <div class="skeleton skeleton-anonymous h-4 w-28"></div>
            {% endif %}
        </h3>
        <div class="divider divider-vertical card-divider card-divider-horizontal"></div>
        <div class="flex w-full">
            <div class="card grid grow" style="max-width: 40%">
                <div class="grid grid-cols-2 gap-y-3 gap-x-4 text-sm content-start items-start">
                    <div class="leading-none">
                        <h2 class="font-semibold text-md">Hash</h2>
                        <div class="text-md tracking-wide text-base-content/50 msg-property-value font-bold"
                        ><span style="color: var(--color-alba-new-blue)">{{ msg.hash|shorten_hash }}</span>
                            <i class="fa-regular fa-copy transition copy-icon"
                               onclick="navigator.clipboard.writeText('{{ msg.hash|shorten_hash }}')"
                            ></i></div>
                    </div>
                    <div class="leading-none">
                        <h2 class="font-semibold text-md">Message type</h2>
                        <div class="badge badge-soft badge-info badge-card text-slate-800"
                             style="background-color: {{ msg.message_type|badge_bg }}; color: {{ msg.message_type|badge_text }}">
                            <b>{{ msg.message_type }}</b></div>
                    </div>
                    <div class="leading-none">
                        <h2 class="font-semibold text-md">Exchange name</h2>
                        <div class="text-md tracking-wide text-base-content/50 msg-property-value font-bold"
                        >{{ msg.exchange_name }}</div>
                    </div>
                    <div class="leading-none">
                        <h2 class="font-semibold text-md">Routing key</h2>
                        <div class="text-md tracking-wide text-base-content/50 msg-property-value font-bold"
                        >{{ msg.exchange_name }}</div>
                    </div>
                    <div class="leading-none">
                        <h2 class="font-semibold text-md">Processed at</h2>
                        <div class="text-md tracking-wide text-base-content/50 msg-property-value font-bold">{{ msg.processing_start|date:"F j, Y, H:i" }}
                            <i class="fa-regular fa-calendar"></i></div>
                    </div>
                    <div class="leading-none">
                        <h2 class="font-semibold text-md">Processing time</h2>
                        <div class="text-md tracking-wide text-base-content/50 msg-property-value font-bold"
                        >{{ msg.processing_time }}</div>
                    </div>
                </div>
            </div>
            <div class="divider card-divider divider-horizontal"></div>
            <div class="card rounded-box grid h-20 grow place-items-left bg-base-500 payload-container">
                {% if user.is_authenticated and user.groups.count != 0 or DISABLED_AUTH %}
                    <span>
                        {% if user.is_authenticated and user.groups.count != 0 or DISABLED_AUTH %}
                            {% if msg.payload_format == "json" %}
                                <pre class="payload-pre"><code
                                        class="hljs-target language-json">{{ msg.payload|pretty_json }}</code></pre>
                            {% elif msg.payload_format == "xml" %}
                                <pre class="payload-pre"><code class="hljs-target language-xml">{{ msg.payload|pretty_xml }}</code></pre>
                            {% else %}
                                <pre class="payload-pre"><code
                                        class="hljs-target language-plaintext">{{ msg.payload }}</code></pre>
                            {% endif %}
                        {% else %}
                            <div class="flex w-52 flex-col gap-4">
                            <div class="skeleton skeleton-anonymous h-4 w-28"></div>
                            <div class="skeleton skeleton-anonymous h-4 w-full"></div>
                            <div class="skeleton skeleton-anonymous h-4 w-full"></div>
                        </div>
                        {% endif %}
                </span>
                {% else %}
                    <div class="flex w-52 flex-col gap-4">
                        <div class="skeleton skeleton-anonymous h-4 w-28"></div>
                        <div class="skeleton skeleton-anonymous h-4 w-full"></div>
                        <div class="skeleton skeleton-anonymous h-4 w-full"></div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if msg.errored %}
            {% if user.is_authenticated and user.groups.count != 0 or DISABLED_AUTH %}
                <div role="alert" class="alert alert-error alert-outline"
                     style="margin-top: 0.5em; margin-bottom: 0.5em">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                         viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    {% error_str_parsing msg.error_message as error_dict %}
                    <ul>
                        {% for key, value in error_dict.items %}
                            <li>{{ key }}: {{ value }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if msg_page_obj.has_next and forloop.last %}
        {% app_subpath as subpath %}
        {% with next_url=subpath|add:"/tmpl/messages?page="|add:msg_page_obj.next_page_number|stringformat:"s" %}

            <span
                    hx-swap="beforeend"
                    hx-select=".msg-card"
                    {% include "messages-view-call.html" with htmx_trigger="revealed" hx_get=next_url %}
            >
        {% endwith %}
    </span>
    {% endif %}
</div>
