<!-- TODO: Users with group.groupprofile.msg_actions_allowed set to False should not be able to do these actions (control this in backend)-->
<button class="btn btn-square btn-sm rounded-lg" aria-label="acknowledge message"
        disabled="disabled">
    <i class="fa-solid fa-square-check" style="font-size: 1.5em"></i>
</button>
<button class="btn btn-square btn-sm rounded-lg" aria-label="resend message"
        disabled="disabled">
    <i class="fa-solid fa-share" style="font-size: 1.5em"></i>
</button>
<button class="btn btn-square btn-sm rounded-lg" aria-label="see related message"
        disabled="disabled">
    <i class="fa-solid fa-arrow-up-right-from-square"
       style="font-size: 1.5em"></i>
</button>