<button class="btn btn-square btn-sm" aria-label="acknowledge message"
        disabled="disabled">
    <i class="fa-solid fa-square-check" style="font-size: 1.5em"></i>
</button>
<button class="btn btn-square btn-sm" aria-label="resend message"
        disabled="disabled">
    <i class="fa-solid fa-share" style="font-size: 1.5em"></i>
</button>
<button class="btn btn-square btn-sm" aria-label="see related message"
        disabled="disabled">
    <i class="fa-solid fa-arrow-up-right-from-square"
       style="font-size: 1.5em"></i>
</button>