{% load tags %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>PACER dashboard</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
{% include "navbar.html" %}
<body>

<div hx-get="{% app_subpath %}/tmpl/messages"
     hx-trigger="load"
     hx-target="#message-results"
     hx-indicator="#loading-spinner"
></div>
<div id="loading-spinner" class="htmx-indicator flex justify-center p-4">
    <span class="loading loading-dots loading-lg text-primary"></span>
</div>
<div class="container mx-auto" style="margin-top: 1em">
    {% if not user.is_authenticated %}
        {% if not DISABLED_AUTH %}
            <div role="alert" class="alert alert-info alert-dash" style="margin-bottom: 1.5em">
                <span>You aren't logged in. Authenticate to view full details of the messages.</span>
            </div>
        {% endif %}
    {% endif %}
    {% if user.groups.count == 0  and user.is_authenticated %}
        <div role="alert" class="alert alert-info alert-dash" style="margin-bottom: 1.5em">
            <span>You aren't assigned to any group. Ask MIS to have your user assigned to a group to view full details of the messages.</span>
        </div>
    {% endif %}
    <span id="message-results"></span>
</div>
{% include "footer.html" %}


</body>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@hiseb/confetti@2.1.0/dist/confetti.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/ws.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>