{% load tags %}
{% load static %}
<div class="navbar bg-base-100 rounded shadow-sm border border-base-300 mx-auto px-4 container sticky top-4 z-50 rounded-xl">
    <div class="flex-1">
        <div class="grid grid-flow-col grid-rows-2 gap-2">
            <div class="row-span-2">
                <a class="btn btn-ghost text-xl" hx-on:click="confetti()"><i
                        class="fa-solid fa-magnifying-glass-chart logo-icon"></i>PACER dashboard</a>
            </div>
        </div>
        <div class="grid grid-flow-col grid-rows-2 gap-2">
            <div class="row-span-2 flex flex-col justify-end text-sm" style="margin-top: 4em" hx-swap-oob="true">
                <span id="total-msgs-count"></span>
            </div>
        </div>
    </div>
    <div class="flex-2">
        <div class="grid grid-flow-col grid-rows-2 gap-1" style="max-width: 50em">
            <div class="row-span-1 col-span-2">
                <label class="input general-text-search rounded-xl">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" required name="general-search" id="general-text-search"
                           placeholder="Search by investigation, instrument, ..."
                            {% include "messages-view-call.html" %}
                    />
                </label>
            </div>
            <div class="row-span-1 col-span-2">
                <form id="msg-filters-form" class="flex flex-wrap gap-1" style="margin-top: -0.75em">
                    <input type="hidden" id="current-page" name="current-page" aria-label="current-page" value="{{ current_page }}">
                    <input type="hidden"  id="total-msgs" name="total-msgs" aria-label="total-msgs" value="{{ total_msgs }}">
                    {% for msg_type in message_types %}
                        <input class="btn btn-sm rounded-xl" type="checkbox" name="msg-filters"
                               aria-label="{{ msg_type }}"
                               value="{{ msg_type }}"
                                {% include "messages-view-call.html" %}
                        />
                    {% endfor %}
                    <button class="btn btn-sm btn-square rounded-xl" type="reset" aria-label="Clear filters"
                            {% include "messages-view-call.html" with htmx_trigger="reset from:#msg-filters-form delay:10ms" %}>
                        <i class="fa-solid fa-x"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="flex-none">
        <div class="grid grid-flow-col grid-rows-2 gap-1" style="max-width: 50em">
            <div class="row-span-1 col-span-2">
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <div style="margin-right: 0.5em; margin-top: -0.4em;">
                            {% include "theme_toggle.html" %}
                        </div>
                    </li>
                    {% if not DISABLED_AUTH %}
                        <li>{% if not user.is_authenticated %}
                            <a href="{% url "sso_login" %}" class="btn btn-outline btn-primary btn-sm rounded-xl">
                                Login
                            </a>
                        {% else %}
                            <a href="{% url "sso_logout" %}"
                               class="btn btn-outline btn-error btn-sm rounded-xl">
                                Logout
                            </a>
                        {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="row-span-1 col-span-2" style="margin-top: -1em">
                <fieldset class="fieldset bg-base-100 rounded-box w-64 p-4">
                    <form id="payload-type-filters-form" class="flex flex-wrap gap-1" style="margin-top: -0.75em">
                        <input class="btn btn-sm rounded-xl" type="checkbox" name="payload-type"
                                aria-label="XML"
                                value="XML"
                            {% include "messages-view-call.html" %}
                    />
                        <input class="btn btn-sm rounded-xl" type="checkbox" name="payload-type"
                               aria-label="JSON"
                               value="JSON"
                                {% include "messages-view-call.html" %}
                        />
                        <button class="btn btn-sm btn-square rounded-xl" type="reset" aria-label="Clear filters"
                                {% include "messages-view-call.html" with htmx_trigger="reset from:#payload-type-filters-form delay:10ms" %}>
                            <i class="fa-solid fa-x"></i>
                        </button>
                        <label class="label">
                            <input type="checkbox" class="toggle toggle-error" name="errored-only" id="errored-only-toggle"
                                    {% include "messages-view-call.html" %}/>
                            Show errored only
                        </label>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>


