<div class="navbar bg-base-100 shadow-sm sticky top-0 z-10">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" hx-on:click="confetti()">PACER dashboard</a>
    </div>
    <div class="flex-2">
        <label class="input">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        stroke-width="2.5"
                        fill="none"
                        stroke="currentColor"
                >
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" class="grow" placeholder="Search" style="width: 100%"/>
        </label>
        <label for="filters-drawer" class="btn drawer-button">Filters</label>
    </div>
    <div class="flex-none">
    </div>
    <ul class="menu menu-horizontal px-1">
        <li>
            <div style="margin-right: 0.5em; margin-top: -0.4em;">
                <a class="btn btn-outline" id="theme-toggle-btn">
                    {% include "theme_toggle.html" %}
                </a>
            </div>
        </li>
        <li>{% if not user.is_authenticated %}
            {% if not DISABLED_AUTH %}
                <a href="{% url "sso_login" %}" class="btn btn btn-outline btn-primary">
                    Login
                </a>
            {% endif %}
        {% else %}
            <a href="{% url "sso_logout" %}"
               class="btn btn btn-outline btn-error">
                Logout
            </a>
        {% endif %}</li>
    </ul>

</div>


